# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
uven/

# Environment variables
.env

# VS Code
.vscode/

# Python caches
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Reports
reports/*.pdf